{
    box-sizing: border-box;
    flex-wrap: wrap;
    display:inline-flex
    Margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero_section {
    padding:0 50px;
    flex-direction: row-reverse;
    background-position: center;
    background-color: rgb(228, 191, 191);
    color:lavender
}
.hero_section h1 {
    font-size: 90px;
    display: flex;
}
.hero_section p {
    font-size: 20px;
    display: flex;
}
.hero_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
}

.column_left{
    display:flex
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.column_left p{
    font-size: 16px;
    line-height: 2.3;
}

.column_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_img {
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.section project {
    flex-direction: row;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(228, 191, 191);
    color:lavender
}
.footer h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.footer p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.button {
    display:inline-block;
    padding:1% 0;
    width:10%;
    border-radius:10px;
    text-align: center;
    color:white;
    text decoration: none;
}

